<session class="window main">
	<slick class="slider_list" arrows="false" autoplay="true" init-onload=true data="viewData">
	
		<div ng-repeat="v in viewData">
			<div class="title">
				{{v.Campaign}}
			</div>
			
			
			<div class="container">
				<div class="content">
				<h3>Campaign state</h3>
				<h4>{{v.Campaign_state}}</h4>

				<h3>Budget</h3>
				<h4>{{v.Budget}}</h4>

				<h3>Status</h3>
				<h4>{{v.Status}}</h4>

				<h3>Campaign type</h3>
				<h4>{{v.Campaign_type}}</h4>

				<h3>Campaign subtype</h3>
				<h4>{{v.Campaign_subtype}}</h4>

				<h3>Clicks</h3>
				<h4>{{v.Clicks}}</h4>

				<h3>Impressions</h3>
				<h4>{{v.Impressions}}</h4>

				<h3>CTR</h3>
				<h4>{{v.CTR}}</h4>

				<h3>Avg CPC</h3>
				<h4>{{v.Avg_CPC}}</h4>
				</div>
			</div>	
		</div>
		
		
	</slick>
</session>