<session class="window main">
 <div class="main_logo" ng-class="zoomInterval"></div>
  <slick class="slider_list" arrows="false" autoplay="true" autoplay-speed="8000" init-onload="true" data="viewData" pauseOnFocus="false" pauseOnHover="false">
    <div ng-repeat="v in viewData">
     
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="title"> {{v.Campaign}} </div>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="content">
          <div class="subtitle">Campaign state</div>
          <div class="text">{{v.Campaign_state}}</div>
          <div class="subtitle">Clicks</div>
          <div class="number">{{v.Clicks | number:0}}</div>
          <div class="subtitle">Impressions</div>
          <div class="number">{{v.Impressions | number:0}}</div>

        </div>
      </div>
      
      
    </div>
  </slick>
     
  <div class="container bottom_screen" ng-class="changeBG">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<img src="./images/metrical_footer.svg" alt=""/>
		</div>
	</div>
  </div>
  
</session>
